<nav>
  <div class="nav-wrapper brown darken-3">
    <div class="whiteLine"></div>
    <ul class="brand-logo">
      <li>
        <a href="/catalog/build/">
          <img
            class="imageLogo"
            src="/catalog/build/assets/logoNC.png"
            alt="Nickels Cabinets"
          />
        </a>
      </li>
      <li>
        <span class="headingLogo">
          <i class="material-icons">collections_bookmark</i> Catalog</span
        >
      </li>
      <li class="">
        <button" id="refresh" class="btn-small open green-text"
          ><i class="material-icons">refresh</i></button>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li>
        <a href="#!"><i class="material-icons">search</i></a>
      </li>
      <!-- <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>-->
    </ul>
  </div>
  <a id="TopPage"></a>
</nav>

<script>
  const myIframe = parent.document.getElementById('pgCatalog');
  const refreshBtn = document.getElementById('refresh');

  refreshBtn.onclick = function(evt) {
    // console.log({ iframe = myIframe, btn: refreshBtn, event = evt });
    // console.log(myIframe);
    //  console.log(evt);
    // myIframe.src = myIframe.src;
    myIframe.contentWindow.location.reload(true);
  };
</script>
