<!-- <div id="closeWQ" class="hide" onClick="closebtn(this.id)"><i class="material-icons" >close</i></div> -->
<nav>
  <div class="nav-wrapper brown darken-3">
    <div class="whiteLine"></div>
    <ul class="brand-logo">
      <li>
        <a href="/catalog/build/">
          <img
            class="imageLogo"
            src="/catalog/build/assets/logoNC.png"
            alt="Nickels Cabinets"
          />
        </a>
      </li>
      <li>
        <span class="headingLogo">
          <i class="material-icons">collections_bookmark</i> Catalog</span
        >
      </li>
      <li class="">
        <button" id="refresh" class="btn-small open brown-text hide"
          ><i class="material-icons">refresh</i></button>
      </li>
      <li><small id="prodline" class="headingLogo"></small></li>
    </ul>

    <ul class="right hide-on-med-and-down hide">
      <li>
        <a href="#!"><i class="material-icons">search</i></a>
      </li>
      <!-- <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>-->
    </ul>
  </div>
  <a id="TopPage"></a>
</nav>


<script>
setLine()
var refreshBtn = document.getElementById('refresh');
var myIframe = parent.document.getElementById('pgCatalog');
var myIframe2 = parent.document.getElementById('nklcatalog');
if (window.location !== window.parent.location) refreshBtn.classList.remove('hide');

refreshBtn.onclick = function() {
  myIframe.src === null ? null : myIframe.contentWindow.location.reload(true);
  myIframe2.src === null ? null : myIframe2.contentWindow.location.reload(true);
};

</script>
